@import url("https://fonts.googleapis.com/css2?family=Montserrat:400, 600");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

link,
a {
  color: black;
  text-decoration: none;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%)
      #989898;
  background-blend-mode: multiply, multiply;
  color: aqua;
  height: 87px;
}

header h1 {
  text-align: center;
  width: 100%;
}

.fa-chevron-left {
  font-size: 2rem;
}

/* Profile styles */

.profile-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* the formula for getting the container height is: */
  /* 100vh - 87px the header height */
  height: calc(100vh - 87px);
}

.profile-online-user {
  position: relative;
  width: fit-content;
  margin: auto;
}

.profile-container img {
  display: block;
  margin: 3vh 0 1rem 0;
  max-width: 400px;
  max-height: 35vh;
}

.circle-img {
  border-radius: 50%;
}

.online-status {
  background-color: rgb(98, 226, 98);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: absolute;
  top: 20px;
  right: -20px;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

.fa-star {
  font-size: 1.5rem;
  color: rgb(243, 237, 230);
}

.profile-details span {
  color: palevioletred;
  font-size: small;
  font-weight: bold;
}

/* Button Styles */

.button {
  width: 100%;
  text-align: center;
  color: rgb(243, 237, 230);
  padding: 1.5rem 0;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%)
      #989898;
  background-blend-mode: multiply, multiply;
}

.send-button {
  height: 48px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chat Page styles */

.chat-box-container {
  /* the formula for getting the container height is: */
  /* 100vh - 87px the header height */
  min-height: calc(100vh - 87px);
  padding: 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-message {
  padding: 1rem 1.5rem;
  border: none;
  width: 80%;
}

input:focus {
  outline: none;
}

/* Chat Message styles */

.message-box {
  position: relative;
  display: flex;
}

.message-box:after,
.new-message-wrapper:after {
  content: "";
  border-color: transparent;
  border: solid transparent;
  border-width: 0.8rem;
  position: absolute;
  top: 0px;
}

.new-message-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new-message-wrapper:after {
  border-top-color: white;
  left: -0.8em;
}
.message-box.guest-message:after {
  border-top-color: rgb(67, 217, 243);
  right: calc(13vw - 0.3rem);
}

.message-box.self-message:after {
  border-top-color: white;
  left: calc(13vw - 0.3rem);
}

.message-box.guest-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.message-box.self-message {
  justify-content: flex-start;
}

.message-box img {
  width: 13vw;
  height: 13vw;
}

.message-box p {
  background-color: white;
  padding: 1rem 1.5rem;
  /* the formula for getting the text width is: */
  /* 100vw - 2x pic 13vw - 2x 1em padding - 2x0.5em for pic margin */
  width: calc(100vw - 26vw - 3rem);
  min-height: 13vw;
  display: flex;
  align-items: center;
}

.message-box.guest-message p {
  background-color: rgb(67, 217, 243);
  margin: 0 0.5rem 1.5rem 0;
  color: white;
}

.message-box.self-message p {
  margin: 0 0 1.5rem 0.5rem;
}

.online-chat-status {
  background-color: rgb(98, 226, 98);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 10vw;
}

/* different background when button is clicked */

.different-background-profile {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.different-background-button {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
