@import url("https://fonts.googleapis.com/css2?family=Montserrat:400, 600");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;

}

body{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

p {
  font-size: 0.9em;
  line-height: 1.3em;
}

link,
a {
  color: black;
  text-decoration: none;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  padding: 1.5em;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%)
      #989898;
  background-blend-mode: multiply, multiply;
  color: aqua;
  height: 87px;
}

header h1 {
  text-align: center;
  width: 100%;
}

.fa-chevron-left {
  font-size: 2em;
}


/* Profile styles */

.profile-container{
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 87px);
}

.profile-online-user {
position: relative;
width:fit-content;
margin:auto
}

.profile-container img{
  display: block;
  margin:3vh 0 1em 0;
  max-width: 400px;
  max-height: 35vh;
  
  
}

.circle-img {
  border-radius: 50%;
}

.online-status{
  background-color: rgb(98, 226, 98);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  position:absolute;
  top:20px;
  right: -20px;

}

.profile-details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1em;
  
}

.fa-star{
  font-size: 1.5em;
  color: rgb(243, 237, 230);
  
}

.profile-details span{
  color: palevioletred;
  font-size: small;
  font-weight: bold;
}

/* Button Styles */

.button{
  width: 100%;
  text-align: center;
  color: rgb(243, 237, 230);
  padding: 1.5em 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(0, 0, 0, 0.15) 100%
  ),
  radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%)
    #989898;
  background-blend-mode: multiply, multiply;
}
/* Chat Page styles */

.chat-box-container {
  /* the formula for getting the container height is: */
  /* 100vh - 87px the header height */
  min-height: calc(100vh - 87px);
  padding: 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-message {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

